/*body {
  background-color: white;
  height: auto;
}

.container {
  border-color: black;
}*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* The asterisk character is the universal selector. Type selector that matches and applies to any type.*/
* {
  /*Controls the margins at the sides of the page*/
  margin: 0;
  padding: 0;
  /* box-sizing: border-box includes the padding and any borders in the elements total width/height. */
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

section {
  padding: 250px;
}

.banner {
  postion: relative;
  min-height: 100vh;
  background-color: black;
  // background: url(banner.jpg);
  background size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2 {
  font-size: 3em;
  color: #fff;
  /*font-weight: 300;*/
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  /*font-weight: 700;*/
}

.banner h3 {
  font-size: 1.5em;
  color: white;
  /*font-weight: 300;*/
}

.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  margin-right: 15px;
  padding: 10px 20px;
  font-size: 0.75em;
  /*text-decoration: none;*/
  letter-spacing: 2px;
  /*font-weight: 500;*/
}

.btn:hover {
  background-color: #21b0f3;
}
